[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conference
# COPY THIS FILE FOR CHROME OS ONLE! Disable hardware acceleration to prevent excess CPU use.
Exec=/usr/bin/env LIBGL_ALWAYS_SOFTWARE=1 /usr/bin/zoom %U
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
