[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty Launcher
GenericName=CLI file chooser
Comment=Open files with Kitty
TryExec=kitty
Exec=kitty +open %U
Icon=kitty
Categories=System;TerminalEmulator;
NoDisplay=true
MimeType=application/json;application/x-sh;application/x-shellscript;image/*;inode/directory;text/*;x-scheme-handler/kitty;
